@page
@model CTA_Database_Website.Pages.ResourcesModel
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/resources.css" />
</head>

<body>
    <div class="content-container">
        <h1>The L's History with Accessibility</h1>

        <p>
            The CTA ‘L’ has been serving Chicago since 1892. Originally, accessibility was not a priority for the system, and by 1990,
            only 10% of stations were wheelchair accessible. Since the Americans with Disabilities Act (ADA) in 1990, the city has made fantastic progress
            in making the system accessible to Chicagoans with disabilities. Today, around 70% of stations follow ADA regulations, and Chicago has made a long-term
            commitment to making all stations accessible. Still, 30% of stations (mainly consisting of the Blue Line, Inner Loop, and northern Red Line stations) are
            inaccessible to people with disabilities. The All-Stations Accessibility Program (ASAP) aims to make all stations ADA-compliant,
            but many disabled Chicagoans will have to wait a while.
        </p>

        <div class="image-container">
            <img class="image" src="~/Images/CTAFunding.PNG" alt="CTA Funding Image">
            <p class="image-caption">Figure 1: CTA funding allocation for the ASAP program.</p>
        </div>

        <p>
            Chicago’s plan to make all stations accessible has a deadline of 2038, which many find ironic for a program named “ASAP.” The four-phase plan only has
            one phase fully funded, with phase two only 45% funded. This progress has been underwhelming since the start of the program back in 2018. In five years,
            the CTA has completed zero projects related to ASAP. While it's easy to criticize the CTA, we should not forget that the CTA is still ahead on accessibility
            compared to many other major cities, like New York, which only has 30% accessibility in its stations. However, we should still monitor CTA’s promise to the people of Chicago.
        </p>

        <div class="image-container">
            <img class="image" src="~/Images/CTAProgress.PNG" alt="CTA Progress Image">
            <p class="image-caption">Figure 2: Progress of CTA’s ASAP initiative.</p>
        </div>

    </div>

    <div class="content-container">
        <h3>Resource Links</h3>

        <ul class="resource-links">
            <li><a href="https://www.transitchicago.com/accessibility/asap/" target="_blank">CTA  ASAP Project Overview (CTA Website)</a></li>
            <li><a href="https://www.transitchicago.com/assets/1/6/ASAP_Strategic_Plan_508_FINAL.pdf" target="_blank">All Station Accessibility Program (ASAP) Strategic Plan 2024 Update PDF</a></li>
        </ul>
    </div>
</body>
